body {
    color: black;
    position: relative;
}

.logo_cabecalho {
    font-size: 1.8em;
    font-family: fantasy;
    color: #444444;
    margin-right: 2em;
    text-shadow: 0 2px 3px grey;
}

.logo {
    font-size: 3em;
    font-family: fantasy;
    color: #444444;
    padding-top: 1em;
    text-shadow: 0 2px 3px grey;
}

.full_image {
    width: 100%;
}

main {
    background-color: #6b78c1;
}

.text_card {
    text-align: center;
    padding: 3em;
    font-size: 1.2em;
}

footer {
    background: #f8f9fa !important;
}

#div_logo {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3em;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

textarea.form-control {
    min-height: 180px;
    resize: none;
}

.parallax {
    /* The image used */
    /* background-image: url("../img/Pedras.jpg"); */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    z-index: 99999;
}

.btn-submit {
    background-color: #78c16b;
    /* border-radius: 10px; */
    padding: 0.5em;
    width: 10em;
    border: none;
}